@page "/todo"
@using Sample.ServerSide.Services
@inject TodoService TodoService

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <!-- Demonstrates manual binding - whis allows us to save the item to orleans on every click -->
            <input type="checkbox" checked="@todo.IsDone" onchange="@(async e => await HandleTodoDoneAsync(todo, (bool)e.Value))" />

            <!-- Demonstrates standard two-way binding -->
            <input bind="@todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" bind="@newTodo" />
<button onclick="@AddTodoAsync">Add Todo</button>

@functions {

    private Guid ownerKey = Guid.Empty;
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

    protected override async Task OnInitAsync()
    {
        todos = await TodoService.GetAllAsync(ownerKey);

        await base.OnInitAsync();
    }

    private async Task AddTodoAsync()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            // create a new todo
            var todo = new TodoItem
            {
                Key = Guid.NewGuid(),
                OwnerKey = ownerKey,
                IsDone = false,
                Title = newTodo
            };

            // add it to the cluster
            await TodoService.SetAsync(todo);

            // show it on the user interface
            todos.Add(todo);

            // reset the box
            newTodo = null;
        }
    }

    private async Task HandleTodoDoneAsync(TodoItem item, bool isDone)
    {
        item.IsDone = isDone;

        await TodoService.SetAsync(item);
    }
}